<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
<listeners>

<listener class-name="com.qa.ExtentReportListener.ExtentReporterNG"/>
</listeners>
  <test thread-count="5" name="Test">
    <classes>
      <class name="com.dxc.testcases.Loginpagetestcase"/>
      <class name="com.dxc.testcases.Dashboardtestcase"/>
        <parameter name="emp" value="Suresh"></parameter>
        <parameter name="usname" value="dxcusername"></parameter>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
